<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>Başvuran Detayı</title>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 th:text="${applicant.name}"></h1>
        <div class="col-md-3 float-right">
            <a target="_blank" th:href="@{/uploads/{resume} (resume = ${applicant.resumeLink})}">CV Görüntüle</a>
        </div>
    </div>

    <div class="col-md-12 p-3" style="background-color: #ffffff;border-radius: 5px;border:1px solid #dddddd">
        <p style="margin-top: 20px;"><strong>Başvurduğu İlan : </strong>
        <a th:text="${applicant.job.title}" th:href="@{/job/detail/{id} (id = ${applicant.job.id})}"></a>
        </p>
        <p><strong>Email : </strong>
            <th:block th:text="${applicant.email}"></th:block>
        </p>
        <p><strong>Telefon : </strong>
            <th:block th:text="${applicant.phone}"></th:block>
        </p>
        <p><strong>Ön Yazı : </strong>
            <th:block th:text="${applicant.thoughts}"></th:block>
        </p>
    </div>

</body>
</html>