<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">HRApplication</title>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" media="screen" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/webjars/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/css/hrstyle.css}"/>

</head>
<body>
<nav th:replace="fragments/header::header"></nav>
<div class="container">
    <div class="row">

        <div role="main" class="col-md-12 ml-sm-auto mt-5 col-lg-12 px-4" layout:fragment="content"></div>
    </div>
</div>
</body>
<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js}"></script>
<th:block layout:fragment="script"></th:block>
</html>
</body>
</html>