<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="col-md-2 d-none d-md-block bg-light sidebar" th:fragment="sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">
                    Anasayfa
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/joblist}">
                    İş İlanları
                </a>
            </li>
        </ul>
        <th:block sec:authorize="isAuthenticated()">
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>HRApplication Yönetici</span>
            </h6>
            <ul class="nav flex-column mb-2">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/hr/job/create}">
                        Yeni İlan Ekle
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/hr/applicant/list}">
                        Başvuranlar Listesi
                    </a>
                </li>
            </ul>
        </th:block>
    </div>
</nav>
</body>
</html>