<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HRApplication - Kullanıcı Girişi</title>
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" media="screen" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/css/signin.css}"/>

</head>
<body class="text-center">
<form class="form-signin" th:action="@{/login}" method="post">
    <h1 class="h3 mb-3 font-weight-normal">Lütfen Giriş Yapın</h1>
    <div class="alert alert-dismissible alert-danger" th:if="${param.error}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Kullanıcı Adı veya Şifre yanlış.
    </div>
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    <label for="inputEmail" class="sr-only">Email adresiniz</label>
    <input type="text" id="inputEmail" name="username" placeholder="Email Adresiniz" class="form-control"/>
    <label for="inputPassword" class="sr-only">Şifreniz</label>
    <input type="password" id="inputPassword" name="password" placeholder="Şifreniz" class="form-control"/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Giriş Yap</button>
</form>
</body>
</html>