<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 th:text="${job.title}"></h1>
        <div class="col-md-3 float-right">
            <form th:action="@{/deletejob/{jobId}(jobId=${job.id})}" th:method="post">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <input type="hidden" name="_method" value="post"/>
                <button type="submit" class="btn btn-danger float-right">İlanı Kaldır</button>
            </form>
        </div>
    </div>

    <div class="col-md-12" style="background-color: #ffffff;border-radius: 5px;border:1px solid #dddddd">
        <p style="margin-top: 20px;"><strong>İş Tanımı</strong></p>
        <p th:text="${job.description}"></p>
        <p><strong>Alınacak Kişi Sayısı : </strong>
        <th:block th:text="${job.numberofHire}"></th:block>
        </p>
        <p><strong>Son Başvuru Tarihi : </strong>
        <th:block th:text="${job.lastApplicationDate}"></th:block>
        </p>
    </div>
</div>
</body>
</html>