<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>Yeni İş İlanı</title>

</head>
<body>
<div layout:fragment="content">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1>Yeni İş İlanı</h1>
    </div>
    <div class="col-md-12 p-3" style="background-color: #ffffff;border-radius: 5px;border:1px solid #dddddd">

        <form th:action="@{/hr/job/create}" th:object="${job}" method="post">

            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

            <div class="form-group">
                <label for="jobTitle">Başlık</label>
                <input type="text" id="jobTitle" th:field="*{Title}" placeholder="Başlık" class="form-control"/>
                <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">FirstName Error</span>
            </div>

            <div class="form-group">
                <label for="Description">Açıklama</label>
                <textarea class="form-control" id="Description" th:field="*{Description}"
                          aria-label="Açıklama"></textarea>
                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}">FirstName Error</span>
            </div>
            <div class="form-group">
                <label for="NumberofHire">İşe Alınacak Kişi Sayısı</label>
                <input type="text" id="NumberofHire" th:field="*{NumberofHire}" placeholder="İşe Alınacak Kişi Sayısı"
                       class="form-control"/>
                <span th:if="${#fields.hasErrors('numberofHire')}" th:errors="*{numberofHire}">FirstName Error</span>
            </div>
            <div class="form-group">
                <label for="LastApplicationDate">Son Başvuru Tarihi</label>
                <input type="text" id="LastApplicationDate" th:field="*{LastApplicationDate}" class="form-control"/>
                <span th:if="${#fields.hasErrors('lastApplicationDate')}" th:errors="*{lastApplicationDate}">FirstName Error</span>
            </div>
            <button class="btn btn-primary btn-block" type="submit">Ekle</button>
        </form>
    </div>
</div>
<th:block layout:fragment="script">
    <script th:src="@{/js/custom.js}"></script>
</th:block>
</body>
</html>