<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>İş İlanları</title>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1>İş İlanları</h1>
    </div>
    <div class="col-md-12 p-3" style="background-color: #ffffff;border-radius: 5px;border:1px solid #dddddd">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">İlan Başlığı</th>
                <th scope="col">Alınacak Kişi Sayısı</th>
                <th scope="col">Son Başvuru Tarihi</th>
                <th scope="col">Detay</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="job : ${jobs.content}">
                <td><p th:text="${job.id}"> Id </p></td>
                <td><p th:text="${job.title}"> Title </p></td>
                <td><p th:text="${job.numberofHire}"> Number Of Hire </p></td>
                <td><p th:text="${{job.lastApplicationDate}}"> Last Application Date </p></td>
                <td>
                    <a th:href="@{/joblisting/detail/{id} (id = ${job.id})}" th:text="Detaylar" class="btn btn-primary"></a>

                    <form th:action="@{/hr/joblisting/delete/{jobId}(jobId=${job.id})}" th:method="post">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                        <input type="hidden" name="_method" value="post"/>
                        <button type="submit" class="btn btn-danger">X</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

        <ul th:if="${jobs.totalPages > 0}" class="pagination justify-content-end">
            <li class="page-item" th:classappend="${jobs.number+1 == 1 || jobs.number == null} ? disabled">
                <a class="page-link" th:href="@{/admin/product/(page=${jobs.number})}" tabindex="-1"
                   aria-disabled="true">Önceki</a>
            </li>
            <li class="page-item" th:each="pageNumber : ${pageNumbers}"
                th:classappend="${pageNumber==jobs.number + 1} ? active">
                <a class="page-link" th:href="@{/admin/product/(page=${pageNumber})}"
                   th:text="${pageNumber}"></a>
            </li>
            <li class="page-item" th:classappend="${jobs.number+1 == jobs.totalPages} ? disabled">
                <a class="page-link" th:href="@{/admin/product/(page=${jobs.number+2})}">Sonraki</a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>